---
import MainLayout from "@/layouts/MainLayout.astro";
import Window from "@/components/Window";
import Taskbar from "@/components/Taskbar";

---

<MainLayout>
		<Window
		client:load
			title="My Window"
		>
			<div class="p-4">
				<p>This is the content of the window.</p>
			</div>
		</Window>
		<Window
		client:load
			title="Another Window"
			initialX={200}
			initialY={200}
			width={500}
			visibleTopbar={false}
			resizable={false}
		>
			<div class="p-4">
				<p>This is another window with a custom position and size.</p>
				<button class="btn btn-primary">Click Me!</button>
			</div>
		</Window>
		<Taskbar />
</MainLayout>
