---
import "@styles/global.scss";
import "@styles/themes/win/95daisy.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
    <script is:inline>
      const storedTheme = localStorage.getItem("themeStore") || "win95";
      document.documentElement.setAttribute("data-theme", storedTheme);
      document.documentElement.setAttribute("data-language", "pt-BR");
    </script>
  </head>
  <body class="min-h-screen bg-primary">
    <slot />
  </body>
</html>
