---
import "@styles/global.scss";
import "@styles/themes/win/95daisy.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Chromix" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Chromix</title>
    <script>
      import { $localeStore } from "@/i18n";
      import { $themeStore } from "@/store/ThemeStore";
      $themeStore.subscribe((theme) => {
        document.documentElement.setAttribute("data-theme", theme);
      });

      $localeStore.subscribe((locale) => {
        document.documentElement.setAttribute("lang", locale);
      });
    </script>
  </head>
  <body class="min-h-screen bg-linear-to-bl from-primary to-secondary">
    <slot />
  </body>
</html>
